{% extends "merchant/merchant.html" %}

{% load static %}
{% block content %}
{##}
<div class="panel panel-default" style="width: 40%; margin: auto;margin-top: 5%;" >
    <h2 style="text-align: center">{{ title }}</h2>
<div style="display: flex">
{#    <div class="panel-body" style=" width:200px;flex: 1" >#}
{#        <h1>{{ book.title }}</h1>#}
{#  <img src="{{ book.book_image.url }}" alt="{{ book.title }} Cover">#}
{#    </div>#}
    <div class="panel-body" style="flex: 1;" >
        <form method="post" novalidate style="margin: auto;width:500px;"  id="CommdityList"  enctype="multipart/form-data">
{#            enctype='multipart/form-data'#}
            {% csrf_token %}
            {%  for i in form %}
        <div class="form-group">
            <label >{{i.label }}</label>
            <div style="height: 10px;"></div>
            {{i}}
            {% if title == '商品添加' %}
            <span id="error" style="color: red;position:absolute;">{{ i.errors.0 }}</span>
            {% endif %}
{#            <span style="color: red"></span>#}
        </div>
                <div style="height: 20px;"></div>
            {% endfor %}

{#        {%   if title == '商品添加'%}#}
{#        <label for="pic">特产图片</label>#}
{#        <input id="image-uploadify" name="pic" type="file">#}
{#            {% elif title == '商品编辑' %}#}
{#        <label for="pic">特产图片</label>#}
{#            {% if  i.pic  %}#}
{#            <img style="width: 100px;height: 100px" src="{{ i.pic.url }}" alt="{{ i.pic }}">#}
{#            {% endif %}#}
{#        <input id="image-uploadify" name="pic" type="file">#}
{##}
{#        {% endif %}#}
        <div style="height: 20px;"></div>
        <button type="submit" class="btn btn-default" id="add_save" >发布</button>
    </form>

    </div>
</div>
</div>

{% endblock %}



{% block js %}
<script type="text/javascript" src="{% static 'js/CommdityAjax.js' %}"></script>
    <script type="text/javascript">
    // 元素的style属性
    var pic = document.getElementById('id_pic');
    pic.style.width = '75px';
    pic.style.height = "30px";
    </script>
{% endblock %}