{% extends "user/layout.html" %}
{% load static %}

 {% block title %}
    <title>首页</title>
    {% endblock %}

{% block login %}
{#      判断是否已经登录#}
    <li class="dropdown" id="loginnav">
    <a style="font-size: 20px;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false" id="name"></a>
    <ul class="dropdown-menu" id="navnav">
{% endblock %}

{% block nav %}
      <ul class="nav navbar-nav" style="margin-top: 25px;">
        <li ><a style="font-size: 20px;" href="/index/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a style="font-size: 20px;" href="/article/list/">文章列表</a></li>
          <li><a style="font-size: 20px;" href="/commdity/listall/">商品列表</a></li>
          <li><a style="font-size: 20px;" href="/user/mess/list/">公告</a></li>
          <li><a style="font-size: 20px;" href="/find/">查询 </a></li>
      </ul>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static "js/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/zhonglin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zhongling2.js' %}"></script>
    <script>
    $(document).ready(function () {
        {#判断角色#}

        function getRole(rid) {
            var a;
            if (rid == 1) {
                a = "<li><a href='/article/listme/'>我发布的</a></li>";
                a = a + "<li><a href='/user/fav/'>我收藏的</a></li>";
            } else if (rid == 2) {
                a = "<li><a href='/merchant/'>商家页面</a></li>";
                a = a + "<li><a href='/merchant/fav/'>我收藏的</a></li>";
            } else if (rid == 3) {
                a = "<li><a href='/admin/'>管理页面</a></li>";
                a = a + "<li><a href='/admin/fav/'>我收藏的</a></li>";
            }
            return a;
        }

        {#角色存在#}
        var name = "{{request.session.info.name}}";
        if (name) {
            var rid = "{{ request.session.info.role_id }}";
            var li = "<li><a href='/user/{{ request.session.info.id }}/info/'>个人信息</a></li>";
            getRole(rid);
            b = "<li role='separator' class='divider'></li><li><a href='/logout/'>退出</a></li></ul></li>";
            x = li + getRole(rid) + b;
            $("#navnav").html(x);
            $("#name").html(name);
        } else {
            $(".dropdown").empty()
            x = "<li><a href='/login/' style='color:grey'>登录</a></li>";
            $("#loginnav").html(x);
        }
    })
</script>
    {% block jsartlist %}
    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/zhonglingxm2.css" %}" />
{% block csslist %}
        <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            padding: 10px;

        }
        .grid-item {
            border: none ;
            font-size: 15px;
            text-align: center;
            width: 150px;
            height: 150px;
            margin-top: 60px;
        }
         .grid-item img {
            width: 150px; /* 设置图片宽度 */
            height: 150px; /* 设置图片高度 */
        }
            *{margin:0px; padding:0px; }
            #NavTop{
                    width:300px;
                    height:200px;
                    margin-top:430px;
                    position:fixed;
                right:0px;top:150px;        /*固定位置,右浮动，距上150px*/
            }
            #NavTop #NavCon{
                            width:400px;
                            height:200px;
                            position:relative;
            }
            #NavTop #NavCon img.banner{
                                        position:absolute;
                                        left:40px;
                                        top:-40px;
            }

            #NavTop #NavCon img.bottom{
                                        margin-top:15px;
            }


    </style>
{% endblock %}
{% endblock %}



{% block content %}
    <div id="NavTop" style="font-size: 20px;">
                 <div id="NavCon">
                     <a href="/merchant/login/"><img src="{% static 'img/index/sj.jpg' %}"
                                 style="width: 300px;height: 150px;"></a>
                    <div style="height: 10px;"></div>
                     <a href="/admin/login/" ><img  src="{% static 'img/index/gly.jpg' %}"
                                 style="width: 300px;height: 150px;"></a>
                 </div>
             </div>

    <!--banner-->
    <div class="banner">
    	<ul class="ban-ul1">
        	<li><a href="JavaScript:;"><img src="{% static "img/index/1.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/2.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/3.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/4.jpg" %}" /></a></li>
            <li><a href="JavaScript:;"><img src="{% static "img/index/5.jpg" %}" /></a></li>
            <li><a href="JavaScript:;"><img src="{% static "img/index/6.jpg" %}" /></a></li>
        </ul>
        <div class="ban-box w1200">
        	<ol class="ban-ol1">
            	<li class="current"></li>
            	<li></li>
            	<li></li>
            	<li></li>
               	<div style="clear:both;"></div>
            </ol>
        </div>
    </div>

    <!--热门推荐-->
    <div class="zl-tuijian w1200">
    	<div class="tuijian-left f-l">
        	<img src="{% static "img/index/微信图片_20240430210829.jpg" %}"
            style="height: 127px;"/>
        </div>
    	<ul class="tuijian-right f-l">
            {% for i in tag %}
        	<li><div class="li-box li-box{{ forloop.counter }}"><a href="/tag/{{ i.id }}/"  class="li-a1">{{ i.name }}</a></div></li>
        	{% endfor %}
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <!--文章-->
    <div class="zl-info w1200">
    	<div class="zl-title1">
        	<h3 class="title1-h3 f-l">文章推荐</h3>
            <ul class="title1-ul1 f-r">
            	<li class="current"><a href="/article/list/">更多文章</a></li>
            	<li><a href="#"></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
{#        红线结束#}
            <div class="bs-example" data-example-id="simple-responsive-table">
    <div class="table-responsive">

      <table class="table" style="font-size: 18px;">
        <tbody>
        {% if rec_list.art %}
              {% for i in rec_list.art %}
          <tr>
            <th scope="row"><a style="font-size: 18px;" href="/article/{{ i.id }}/detail/">{{ i.title }}</a></th>
            <td>{{ i.timestamp|date:'Y-m-d H:i:s'}}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.tag }}</td>
          </tr>
              {% endfor %}
              {% endif %}
        </tbody>
      </table>

    </div><!-- /.table-responsive -->
        </div>
    </div>
    <!--商品-->
    <div class="zl-info w1200">
    	<div class="zl-title1">
        	<h3 class="title1-h3 f-l">商品推荐</h3>
            <ul class="title1-ul1 f-r">
            	<li class="current"><a href="/commdity/listall/">更多商品</a></li>
            	<li><a href="#"></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="grid-container" style="font-size: 20px;" >
            {% if rec_list.comm == "暂无商品" %}
                <p>暂无特色商品</p>
                {% else %}
            {% for i in rec_list.comm %}
            <div class="grid-item" >
                {% if i.pic %}
                <a href="/commdity/{{ i.id }}/detail/"><img src="{{ i.pic.url }}"></a>
                {% else %}
                <img src="{% static 'img/web/defalut.jpg' %}">
                {% endif %}
                <a href="/commdity/{{ i.id }}/detail/" style="font-size: 20px;">{{ i.commdityname }}</a>
                <p>{{ i.createtime|date:'Y-m-d H:i:s' }}</p></div>
            {% endfor %}
            {% endif %}

        </div>
<hr style=" margin-top:80px;border: 1px solid grey;width: 100%;">
    </div>
    <div class="footer" style="margin-top: 25px;">
    <p style="color: grey">内容由myf提供，仅供您参考</p>
    <p style="color: grey">用户协议  |  隐私政策 </p>
    <P style="color: grey">联系方式  |QQ：1749575316</P>
    </div>
{% endblock %}

