{% extends "user/layout.html" %}
{% load static %}

 {% block title %}
    <title>首页</title>
    {% endblock %}

{% block login %}
{#      判断是否已经登录#}
    <li class="dropdown" id="loginnav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false" id="name"></a>
    <ul class="dropdown-menu" id="navnav">
{% endblock %}

{% block nav %}
      <ul class="nav navbar-nav">
        <li ><a href="/index/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/article/list/">文章列表</a></li>
          <li><a href="/commdity/listall/">商品列表</a></li>
          <li><a href="/article/add/">发布文章</a></li>
          <li><a href="/phone/list/">搜素</a></li>
          <li><a href="#">Link</a></li>
      </ul>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static "js/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/zhonglin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zhongling2.js' %}"></script>
    <script>
    $(document).ready(function (){
{#判断角色#}
function getRole(rid) {
    var a;
    if (rid == 1) {
        a = "<li><a href='/article/listme/'>我发布的</a></li>";
        a=a+"<li><a href='/user/fav/'>我收藏的</a></li>";
    } else if (rid == 2) {
        a = "<li><a href='/merchant/'>商家页面</a></li>";
        a=a+"<li><a href='/merchant/fav/'>我收藏的</a></li>";
    } else if (rid == 3) {
        a = "<li><a href='/admin/'>管理页面</a></li>";
        a=a+"<li><a href='/admin/fav/'>我收藏的</a></li>";
    }
    return a;
}
{#角色存在#}
var name = "{{request.session.info.name}}";
if (name){
    var rid ="{{ request.session.info.role_id }}";
    var li="<li><a href='#'>个人信息</a></li>";
    getRole(rid);
    b="<li role='separator' class='divider'></li><li><a href='/logout/'>退出</a></li></ul></li>";
    x=li+getRole(rid)+b;
    $("#navnav").html(x);
    $("#name").html(name);
}else {
    $(".dropdown").empty()
    x="<li><a href='/login/' style='color:grey'>登录</a></li>";
    $("#loginnav").html(x);
}
    })
</script>

    {% block jsartlist %}
    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/zhonglingxm2.css" %}" />
{% block csslist %}
        <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            padding: 10px;

        }
        .grid-item {
            border: none ;
            font-size: 15px;
            text-align: center;
            width: 200px;
            height: 150px;
            margin-top: 60px;
        }
         .grid-item img {
            width: 200px; /* 设置图片宽度 */
            height: 150px; /* 设置图片高度 */
        }
}
    </style>
{% endblock %}
{% endblock %}



{% block content %}

    <!--banner-->
    <div class="banner">
    	<ul class="ban-ul1">
        	<li><a href="JavaScript:;"><img src="{% static "img/index/1.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/2.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/3.jpg" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/index/4.jpg" %}" /></a></li>
            <li><a href="JavaScript:;"><img src="{% static "img/index/5.jpg" %}" /></a></li>
            <li><a href="JavaScript:;"><img src="{% static "img/index/6.jpg" %}" /></a></li>
        </ul>
        <div class="ban-box w1200">
        	<ol class="ban-ol1">
            	<li class="current"></li>
            	<li></li>
            	<li></li>
            	<li></li>
               	<div style="clear:both;"></div>
            </ol>
        </div>
    </div>

    <!--热门推荐-->
    <div class="zl-tuijian w1200">
    	<div class="tuijian-left f-l">
        	<img src="{% static "img/zl2-1.png" %}" />
        </div>
    	<ul class="tuijian-right f-l">
        	<li>
            	<div class="li-box li-box1">
                	<a href="JavaScript:;" class="li-a1">茶叶</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box2">
                	<a href="JavaScript:;" class="li-a1">酒水</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box3">
                	<a href="JavaScript:;" class="li-a1">食品</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box4">
                	<a href="JavaScript:;" class="li-a1">中草药</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box5">
                	<a href="JavaScript:;" class="li-a1">工艺品</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box6">
                	<a href="JavaScript:;" class="li-a1">特色服饰</a>

                </div>
            </li>
        	<li>
            	<div class="li-box li-box7">
                	<a href="JavaScript:;" class="li-a1">其他</a>

                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <!--文章-->
    <div class="zl-info w1200">
    	<div class="zl-title1">
        	<h3 class="title1-h3 f-l">文章推荐</h3>
            <ul class="title1-ul1 f-r">
            	<li class="current"><a href="/article/list/">更多文章</a></li>
            	<li><a href="#"></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
{#        红线结束#}
            <div class="bs-example" data-example-id="simple-responsive-table">
    <div class="table-responsive">

      <table class="table">
        <tbody>
        {% if rec_list.art %}
              {% for i in rec_list.art %}
          <tr>
            <th scope="row"><a href="/article/{{ i.id }}/detail/">{{ i.title }}</a></th>
            <td>{{ i.timestamp|date:'Y-m-d H:i:s'}}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.tag }}</td>
          </tr>
              {% endfor %}
              {% endif %}
        </tbody>
      </table>

    </div><!-- /.table-responsive -->
        </div>
    </div>
    <!--商品-->
    <div class="zl-info w1200">
    	<div class="zl-title1">
        	<h3 class="title1-h3 f-l">商品推荐</h3>
            <ul class="title1-ul1 f-r">
            	<li class="current"><a href="/commdity/listall/">更多商品</a></li>
            	<li><a href="#"></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="grid-container"  >
            {% if rec_list.comm %}
            {% for i in rec_list.comm %}
            <div class="grid-item" >
                {% if i.pic %}
                <img src="{{ i.pic.url }}">
                {% else %}
                <img src="{% static 'img/web/defalut.jpg' %}">
                {% endif %}
                <a href="/commdity/{{ i.id }}/detail/">{{ i.commdityname }}</a>
                <p>{{ i.createtime|date:'Y-m-d H:i:s' }}</p></div>
            {% endfor %}
            {% endif %}

        </div>

    </div>
{% endblock %}