{% extends "article/art_list.html" %}

{% block content %}
<div class="container" style="margin-top:25px;">
    <div class="panel">
        <div class="panel-heading">📢 公告列表</div>
        <div class="panel-body" style="padding:0;">
            {% for i in list %}
            <div class="mess-item">
                <div class="mess-title">
                    <a href="/admin/mess/{{ i.id }}/detail/" style="color:#2d3436;">{{ i.title }}</a>
                </div>
                <div class="mess-meta">📅 {{ i.time|date:"Y-m-d H:i" }} &nbsp;|&nbsp; ✍ {{ i.name }}</div>
            </div>
            {% empty %}
            <p style="text-align:center;color:#b2bec3;padding:40px 0;">📭 暂无公告</p>
            {% endfor %}
        </div>
    </div>
    <ul class="pagination">{{ page_string }}</ul>
</div>
{% endblock %}
