{% extends "user/index.html" %}
{% load static %}
{% block title %}
<title>红河州特色之{{ content.tag }}</title>
{% endblock %}

{% block content %}
    <div class="container">
    <a style="font-weight: bold;font-size: 20px;" >{{ content.tag }}文章</a>
    <hr style="width: 100%;border: 1px solid #E3101E">
    <div style="clear:both;"></div>
<div class="table-responsive">
      <table class="table">
        <tbody>
              {% for i in content.tag_art %}
          <tr>
            <th scope="row"><a href="/article/{{ i.id }}/detail/">{{ i.title }}</a></th>
            <td>{{ i.timestamp|date:'Y-m-d H:i:s'}}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.tag }}</td>
          </tr>
              {% endfor %}
        </tbody>
      </table>

    </div><!-- /.table-responsive -->
    <a style="font-weight: bold;font-size: 20px;" >{{ content.tag }}特色商品</a>
    <hr style="width: 100%;border: 1px solid #E3101E">
    {% if content.tag_comm %}
    <div class="grid-container"  >

            {% for i in content.tag_comm %}
            <div class="grid-item" >
                {% if i.pic %}
                <img src="{{ i.pic.url }}">
                {% else %}
                <img src="{% static 'img/web/defalut.jpg' %}">
                {% endif %}
                <a href="/commdity/{{ i.id }}/detail/">{{ i.commdityname }}</a>
                <p>{{ i.createtime|date:'Y-m-d H:i:s' }}</p></div>
            {% endfor %}

        </div>
    {% else %}
        <p>暂无特色商品</p>
    {% endif %}
    </div>
{% endblock %}