{%  extends "user/layout.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
    <meta charset="UTF-8">
{% endblock %}


{%  block js %}
     <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"
></script>
    <script src="{%  static 'js/wang_editor_config.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>

            <div class="panel-body">
                {#novalidate的作用是禁止浏览器自动校验#}
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-sm">提 交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


