{% extends "index.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block nav %}
      <ul class="nav navbar-nav">
        <li ><a href="/index/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/article/list/">文章列表</a></li>
          <li><a href="/commdity/listall/">商品列表</a></li>
        <li><a href="/article/add/">发布文章</a></li>
          <li><a href="/phone/list/">搜素</a></li>
          <li><a href="#">Link</a></li>
      </ul>
{% endblock %}


{% block content %}
{#    表格#}
 <div class="container">
        {% if title == "我的文章列表" %}
        <div class="clearfix" >
            <a class="btn btn-primary" href="/article/add/" style="margin-bottom: 10px" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                添加文章
            </a>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true" ></span>
                {{ title }}
            </div>
            <table class="table table-bordered" id="tab" >
                <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>发布时间</th>
                    <th>更新时间</th>
                    <th>作者</th>
                    {% if title == "我的文章列表" %}
                    <th>审核状态</th>
                    {% endif %}
                    <th>操作</th>
                </tr>
                </thead>
                <tbody >
                {% for i in obj %}
                    <tr>
                        <th>{{ i.id }}</th>
                        <td><a  href="article/{{ i.id }}/view/">{{ i.title}}</a></td>
                        <td>{{ i.timestamp }}</td>
                        <td>
                            {% if  i.updatetime  %}
                                {{ i.updatetime }}
                            {% else %}
                                无
                            {% endif %}
                        </td>
                        <td>{{ i.username }}</td>
                        {% if title == "我的文章列表" %}
                        <td>{{ i.get_status_display }}</td>
                        {% endif %}
                    <td>
                        <a class="btn btn-primary btn-xs" href="/article/{{ i.id}}/detail/">查看</a>
                        {% if title == "我的文章列表" %}
                        <a class="btn btn-primary btn-xs" href="/article/{{ i.id }}/edit">编辑</a>
{#                        <a class="btn btn-danger btn-xs "  href="#">删除</a>#}
                        <input uid="{{ i.id }}" type="button" class="btn btn-danger btn-xs btn-delete" value="删除" data-toggle="modal" data-target="#DeleteModal">
                        {% endif %}
                    </td>
{#                        {% autoescape off %}#}
{#                        <td>{{ obj.content }}</td>#}
{#                        {% endautoescape %}#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{#    警告框#}
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4>是否确定删除文章？</h4>
      <p style="margin:10px 0">删除后，所有数据内容都将无法找回！</p>
      <p style="text-align: right">
        <button id="btnConDelete" type="button" class="btn btn-danger">确定</button>
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
      </p>
    </div>
    </div>
</div>
{% endblock %}

{% block jsartlist %}
    <script type="text/javascript">
    $(function(){
        BindDelete();
        BindConDelete();
    })
    //警告框订单删除（通过按钮获取数据id）
    function BindDelete(){
        $(".btn-delete").click(function(){
            //获取删除按钮的uid
            Delete_id = $(this).attr("uid");
        })
    }
    //订单确定删除
    function BindConDelete(){
        $("#btnConDelete").click(function (){
            $.ajax({
                url:"/article/delete/",
                type:"GET",
                data:{
                    uid:Delete_id
                },
                datatype:"JSON",
                success:function(res){
                    if(res.status){
                        alert("删除成功");
                        location.reload();//刷新页面
                    }else {
                        alert(res.error);
                    }
                }
            })
        })
    }
    </script>
{% endblock %}