{% extends "layout.html" %}
{% load static %}

 {% block title %}
    <title>首页</title>
    {% endblock %}

{% block login %}
{#      判断是否已经登录#}
    <li class="dropdown" id="loginnav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false" id="name"></a>
    <ul class="dropdown-menu" id="navnav">
{% endblock %}

{% block nav %}
      <ul class="nav navbar-nav">
        <li ><a href="/index/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/article/list/">文章列表</a></li>
          <li><a href="/commdity/listall/">商品列表</a></li>
          <li><a href="/article/add/">发布文章</a></li>
          <li><a href="/phone/list/">搜素</a></li>
          <li><a href="#">Link</a></li>
      </ul>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static "js/jquery-3.6.0.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/zhonglin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zhongling2.js' %}"></script>
    <script>
    $(document).ready(function (){
{#判断角色#}
function getRole(rid) {
    var a;
    if (rid == 1) {
        a = "<li><a href='/article/listme/'>我发布的</a></li>";
        a=a+"<li><a href='/article/listme/'>我收藏的</a></li>";
    } else if (rid == 2) {
        a = "<li><a href='/merchant/'>商家页面</a></li>";
    } else if (rid == 3) {
        a = "<li><a href='/admin/'>管理页面</a></li>";
    }
    return a;
}
{#角色存在#}
var name = "{{request.session.info.name}}";
if (name){
    var rid ="{{ request.session.info.role_id }}";
    var li="<li><a href='#'>个人信息</a></li>";
    getRole(rid);
    b="<li role='separator' class='divider'></li><li><a href='/logout/'>退出</a></li></ul></li>";
    x=li+getRole(rid)+b;
    $("#navnav").html(x);
    $("#name").html(name);
}else {
    $(".dropdown").empty()
    x="<li><a href='/login/' style='color:grey'>登录</a></li>";
    $("#loginnav").html(x);
}
    })
</script>

    {% block jsartlist %}
    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/zhonglingxm2.css" %}" />
{% endblock %}



{% block content %}

    <!--banner-->
    <div class="banner">
    	<ul class="ban-ul1">
        	<li><a href="JavaScript:;"><img src="{% static "img/banner.png" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/banner.png" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/banner.png" %}" /></a></li>
        	<li><a href="JavaScript:;"><img src="{% static "img/banner.png" %}" /></a></li>
        </ul>
        <div class="ban-box w1200">
        	<ol class="ban-ol1">
            	<li class="current"></li>
            	<li></li>
            	<li></li>
            	<li></li>
               	<div style="clear:both;"></div>
            </ol>
        </div>
    </div>

    <!--热门推荐-->
    <div class="zl-tuijian w1200">
    	<div class="tuijian-left f-l">
        	<img src="{% static "img/zl2-1.png" %}" />
        </div>
    	<ul class="tuijian-right f-l">
        	<li>
            	<div class="li-box li-box1">
                	<a href="JavaScript:;" class="li-a1">锦尚世家</a>
                	<a href="JavaScript:;" class="li-a2">锦绣花苑　传承世家</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box2">
                	<a href="JavaScript:;" class="li-a1">速8快捷酒店</a>
                	<a href="JavaScript:;" class="li-a2">最大的经济型酒店</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box3">
                	<a href="JavaScript:;" class="li-a1">老诚一锅羊蝎子火锅</a>
                	<a href="JavaScript:;" class="li-a2">最养生的火锅</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box4">
                	<a href="JavaScript:;" class="li-a1">鹏程之家汽车店</a>
                	<a href="JavaScript:;" class="li-a2">最便宜的汽车4S店</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box5">
                	<a href="JavaScript:;" class="li-a1">速8快捷酒店</a>
                	<a href="JavaScript:;" class="li-a2">最大的经济型酒店</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box6">
                	<a href="JavaScript:;" class="li-a1">老诚一锅羊蝎子火锅</a>
                	<a href="JavaScript:;" class="li-a2">最养生的火锅</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box7">
                	<a href="JavaScript:;" class="li-a1">鹏程之家汽车店</a>
                	<a href="JavaScript:;" class="li-a2">最便宜的汽车4S店</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
        	<li>
            	<div class="li-box li-box8">
                	<a href="JavaScript:;" class="li-a1">鹏程之家汽车店</a>
                	<a href="JavaScript:;" class="li-a2">最便宜的汽车4S店</a>
                    <a href="JavaScript:;" class="li-a3">more</a>
                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <!--1F  在线商城-->
    <div class="zl-info w1200">
    	<div class="zl-title1">
        	<h3 class="title1-h3 f-l">1F  在线商城</h3>
            <ul class="title1-ul1 f-r">
            	<li class="current"><a href="JavaScript:;">食品/饮料/酒水</a></li>
            	<li><a href="JavaScript:;">粮油副食</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div class="zl-con">
        	<div class="zl-con-left f-l">
            	<div class="zl-tu">
                	<img src="{% static "img/zl2-2.png" %}" class="zl-img" />
                </div>
                <p class="zl-lp">
                    黑色星期五</br>
                    优惠力度大
                </p>
                <ul class="zl-lhover">
                	<li><a href="搜索列表(有品牌).html">饼干糕点</a></li>
                	<li><a href="搜索列表(有品牌).html">厨房调味</a></li>
                	<li><a href="搜索列表(有品牌).html">厨房清洁</a></li>
                	<li><a href="搜索列表(有品牌).html">洗浴用品</a></li>
                	<li><a href="搜索列表(有品牌).html">宝宝喂养</a></li>
                	<li><a href="搜索列表(有品牌).html">家居彩电</a></li>
                	<li><a href="搜索列表(有品牌).html">宝宝喂养</a></li>
                	<li><a href="搜索列表(有品牌).html">家居彩电</a></li>
                	<li><a href="搜索列表(有品牌).html">厨房清洁</a></li>
                	<li><a href="搜索列表(有品牌).html">洗浴用品</a></li>
                	<li><a href="搜索列表(有品牌).html">宝宝喂养</a></li>
                	<li><a href="搜索列表(有品牌).html">家居彩电</a></li>
                	<li><a href="搜索列表(有品牌).html">宝宝喂养</a></li>
                	<li><a href="搜索列表(有品牌).html">家居彩电</a></li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
        	<div class="zl-con-right f-l">
            	<div class="zl-rbox lihover">
                	<div class="rbox-left f-l">
                    	<div class="rbox-ltop"><a href="商品详情.html"><img src="{% static "img/zl2-48.png" %}" /></a></div>
                    	<ul class="rbox-lft">
                        	<li>
                            	<a href="商品详情.html" class="a1">周黑鸭 鸭翅</a>
                                <p>￥25.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="{% static "img/zl2-46.gif" %}" /></a>
                            </li>
                        	<li>
                            	<a href="商品详情.html" class="a1">特产中国山西大枣</a>
                                <p>￥25.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="{% static "img/zl2-44.gif" %}" /></a>
                            </li>
                        	<li>
                            	<a href="商品详情.html" class="a1">Wonderful 盐焗开心果</a>
                                <p>￥39.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="{% static "img/zl2-45.gif" %}" /></a>
                            </li>
                            <div style="clear:both;"></div>
                        </ul>
                    </div>
                	<ul class="rbox-right f-l">
                    	<li>
                            <a href="商品详情.html" class="a1">人头马XO香槟干邑白兰地</a>
                            <p>￥1950.00/件</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-47.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">DNZ新西兰进口蜂蜜</a>
                            <p>￥199.00/500ML</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-42.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">可口可乐樱桃味碳酸饮料</a>
                            <p>￥5.90/罐</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-48.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">马爹利蓝带干邑白兰地</a>
                            <p>￥3450.00/件</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-43.gif" /></a>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
                <div class="zl-rbox lihover">
                	<div class="rbox-left f-l">
                    	<div class="rbox-ltop"><a href="商品详情.html"><img src="images/zl2-48.png" /></a></div>
                    	<ul class="rbox-lft">
                        	<li>
                            	<a href="商品详情.html" class="a1">特产中国山西大枣</a>
                                <p>￥25.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="images/zl2-44.gif" /></a>
                            </li>
                        	<li>
                            	<a href="商品详情.html" class="a1">Wonderful 盐焗开心果</a>
                                <p>￥39.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="images/zl2-45.gif" /></a>
                            </li>
                        	<li>
                            	<a href="商品详情.html" class="a1">周黑鸭 鸭翅</a>
                                <p>￥25.00/袋</p>
                                <a href="商品详情.html" class="a2"><img src="images/zl2-46.gif" /></a>
                            </li>
                            <div style="clear:both;"></div>
                        </ul>
                    </div>
                	<ul class="rbox-right f-l">
                    	<li>
                            <a href="商品详情.html" class="a1">DNZ新西兰进口蜂蜜</a>
                            <p>￥199.00/500ML</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-42.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">马爹利蓝带干邑白兰地</a>
                            <p>￥3450.00/件</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-43.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">人头马XO香槟干邑白兰地</a>
                            <p>￥1950.00/件</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-47.gif" /></a>
                        </li>
                    	<li>
                            <a href="商品详情.html" class="a1">可口可乐樱桃味碳酸饮料</a>
                            <p>￥5.90/罐</p>
                            <a href="商品详情.html" class="a2"><img src="images/zl2-48.gif" /></a>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
{% endblock %}

